@font-face {
  font-family: 'Inter';
  font-weight: 400, 500, 600, 700, 800, 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('Inter-VariableFont_slnt,wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-weight: 400, 500, 600, 700, 800, 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('Inter-VariableFont_slnt,wght.ttf') format('truetype');
}